<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <!-- Using Pico as CSS framework -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>{{title}}</title>
  </head>
  <body>

    <header class="container">
      <nav>
        <ul>
          <li><h1><a href="/" class="contrast">Tech Blog Co.</a></h1></li>
        </ul>
        {{> nav }}

      </nav>
    </header>

    <main class="container-fluid">
      <section>
        {{{body}}}
      </section>
    </main>

    <footer class="container">
      <p style="text-align: center;">Made with ❤️ ©2024</p>
    </footer>


  </body>
</html>