<section class="container-fluid">
    <h2>Sign Up</h2>
</section>

<article>
    <form>
      <formset>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="@my_username" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="hello@me.com" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="********" required>
        <button type="submit" id="submit">Register</button>
      </formset>
    </form>
</article>

<script src="/register.js"></script>