<article>
    <br>
    <section class="grid">
        <div style="text-align: center;">
            <h2>My Dashboard</h2>
            <img src="https://cataas.com/cat?type=small" alt="Surprise cat!" style="max-width: 400px; max-height: 400px; border-radius: 3%;">
            <p style="font-style: italic;">Now with (cute) cat photos!</p>
        </div>
        <div>
            <br><br>
            <h4>Username: @{{ user_name }}</h4>
            <h4>Email: {{ user_email }}</h4>
            <h4>No. of Posts: {{ total_reviews }} </h4>
        </div>
    </section>
</article>