    <section>
        <details>
            <summary role="button" class="outline">Post an article</summary>
            <article>
                <form>
                    <input type="text" id="title" name="title" placeholder="Title" aria-label="Text">
                    <textarea name="content" id="content" placeholder="Write about something..." aria-label="Article content"></textarea>
                    <button type="submit" id="postButton">Submit</button>
                </form>
            </article>
        </details>
    </section>

    <article>
        <br>
        <section class="grid">
            <div style="text-align: center;">
                <h2>My Dashboard</h2>
                <img src="https://cataas.com/cat?type=small" alt="Surprise cat!" style="max-width: 400px; max-height: 400px; border-radius: 3%;">
                <p style="font-style: italic;">Now with (cute) cat photos!</p>
            </div>
            <div>
                <br>
                <h4>Username:</h4><p>@{{ username }}</p>
                <h4>Email:</h4><p>{{ email }}</p>
                <h4>No. of Posts:</h4><p>{{ total_posts }}</p>
            </div>
        </section>
    </article>

    <script src="/post.js"></script>