<section class="container-fluid">
    <h2>Most Recent</h2>
</section>

<article>
    <hgroup>
        <h3>Test Post</h3>
        <p>Created by me on November 3, 2024</p>
    </hgroup>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

    <details>
        <summary role="button" class="contrast outline">See comments</summary>
        <ul>
            <li>...</li>
            <li>...</li>
        </ul>
    </details>
    <details>
        <summary role="button" class="secondary outline">Write a comment</summary>
        <textarea name="bio" placeholder="Your comment here..." aria-label="Professional short bio"></textarea>
            <input type="submit" value="Submit"/>
    </details>
</article>